<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <title>Sampleapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="noindex">

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <%= yield :javascript %>
  </head>

  <body class="<%= controller_path.gsub('/', ' ') %>">
    <%= yield %>
  </body>
</html>
